{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h3>News {{ new.pk }}</h3>
<h3>{% current_time '%d %b %Y' %}</h3>

<table style="border: 1px solid #afabab;">
    <tr style="border: 1px solid #afabab;">
        <td style="border: 1px solid #afabab;">Заголовок</td>
        <td style="border: 1px solid #afabab;">Дата публикации</td>
        <td style="border: 1px solid #afabab;">Тип</td>
        <td style="border: 1px solid #afabab;">Текст</td>
    </tr>
    <tr style="border: 1px solid #afabab;">
        <td style="border: 1px solid #afabab;">{{ new.post_title|censor }}</td>
        <td style="border: 1px solid #afabab;">{{ new.date_creation }}</td>
        <td style="border: 1px solid #afabab;">{{ new.post_type }}</td>
        <td style="border: 1px solid #afabab;">{{ new.post_text|censor }}</td>
    </tr>
</table>
{% endblock content %}
